<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title >Notification</ion-title>
    <div class="cart">
    <img src=".\assets\images\cart.png" align="right">
  </div>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>
<div class="image">
  <img src=".\assets\images\one1.png" class="png" width="50%">
</div>
  <h1 class="text" align="center">No notifications yet</h1>
  <p  align="center"> Simply browse, create a wishlist or make a purchase.</p>

<a routerLink ="/home"><ion-button class="button" size="small" color="primary" style="margin-left: 25%;">Continue Shopping</ion-button></a>
</ion-content>
