<ion-col>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{subTitle}}</ion-card-subtitle>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="i-card">
        <div class="img-card">
          <img src="{{assets\atta.png}}" class="card">
        </div>
        <div class="text-card">
          AASHIRVAAD 10kg Atta <br>
          Price: ₹ 350 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
        </div>
    </div>
    </ion-card-content>
  </ion-card>
</ion-col>