<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>My Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
  <!-- <div class="image">
    <img src=".\assets\images\grocero.png">
  </div> -->
  <h1 class="text" align="center">No Order Yet!</h1>
  <!-- <ion-textarea placeholder="Name, Price, Delivery, Address" ></ion-textarea> -->
</ion-card>
</ion-content>
