
 
<ion-content class="myview"   padding>
    <p class="name" align="center">GROCERO</p>
    <div class="logo1">
      <img  class="logo" src=".\assets\images\grocero.png" class="png">
    </div>

        <ion-item>
         <img src=".\assets\images\user.png" class="png">
          <ion-input placeholder="Username"></ion-input>
        </ion-item>
        <ion-item>
          <img src=".\assets\images\lock.png"  class="png">
          <ion-input placeholder="Password"></ion-input>
        </ion-item>
              <p align="right">Forget password ?</p>
            
  <a routerLink="/home">
  <ion-button class="button"  size="small" expand="block"(click)="login()" >Lets Go !</ion-button></a>
  <p align="center">Login With</p>
  
  <ion-button class="button1" onclick="window.open('https://www.facebook.com', '_self', 'location=yes') "size="small" routerLink="/register" routerDirection="forward">
    <img  class="img1" src=".\assets\images\fb2.png">Facebook</ion-button>
   
 <ion-button onclick="window.open('https://www.gmail.com', '_self', 'location=yes') "size="small" routerLink="/register" routerDirection="forward">
    <img  class="img2" src=".\assets\images\google.png">Google</ion-button>
   
    <p class="register" align ="center">Don't have an account? <a routerLink="/register"> Register Now</a></p>
    <a routerLink="/orders"><ion-button >Orders</ion-button> </a>
</ion-content>
