

ion-input{
    border-radius : 1px solid;
}
ion-item img{
    margin-right: 15%;
}
.logo1{
    margin-left: 35%;
    // margin-top: 25%;
}
.logo{
    margin-top: 0px;
    width:30%;
    
}
.register{
    margin-top: 32px;

}
.name{
    font-style:italic;
    font-family: monospace;
    font-style: inherit;
    font-size: 25px;
    margin-top: 30%;
}
.img1{
    margin-right: 5px;
    width:25%;
}
.img2{
    margin-right: 5px;
    width:15%;
}
p{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(56, 53, 53);
}
.button1{
    width: 35%;
    margin-right: 13px;
    margin-left: 40px;
}
.button2{
    width: 40%;
}