<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label>Public</ion-label>
          <ion-toggle color="primary" [(ngModel)]="check1" [checked]="!check2 && !check3"></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Friends</ion-label>
          <ion-toggle color="primary"[(ngModel)]="check2" [checked]="!check1 && !check3"></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Only Me</ion-label>
          <ion-toggle color="primary"[(ngModel)]="check3" [checked]="!check2 && !check1"></ion-toggle>
        </ion-item>
      </ion-list>
</ion-content>
