.headertext{
    margin-left:13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-content: center;
  margin-left: 5%;
  margin-top: 2%;
}
p{
  font-family: 'Courier New', Courier, monospace;
  font-stretch: normal;
  color: black;
}

ion-card{
  width: 50%;
  height: 129px;
}
.kitchen{
  width:100% ;
  display: flex;
}
.kitchen ion-card{
  width:46%;
  margin-right: 0%;
}
.image{
  width:50%;
  height: 80px;
margin-right: 0%;
margin-left: 25%;
margin-top: 12px;
}
.text{
  
  margin-left:13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-content: center;
  margin-left: 5%;
  margin-top: 2%;
}
