<ion-header>
    <ion-toolbar>
       <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
       </ion-buttons>
       <ion-title>
        Kitchen
       </ion-title>
     </ion-toolbar>
   </ion-header>
   <ion-content>
     <h1 class="headertext">Shop by category</h1>
     
     
     <div class="kitchen">
       
       <ion-card>
         <img class="image" src="..\assets\images\atta.jpg">
         <p align="center">Atta & Flours </p>
       </ion-card>
       <ion-card>
         <img class="image" src="..\assets\images\dal.jpg">
         <p align="center">Dals & Pulses</p>
       </ion-card>
    </div>
       <div class="kitchen">
       <ion-card>
         <img class="image" src="..\assets\images\rice.jpg">
         <p align="center">Rice & Riceproducts</p>
       </ion-card>
       <ion-card>
         <img class="image" src="..\assets\images\oil.jpg">
         <p align="center">Ghee & Oils</p>
       </ion-card>
     
     </div>
     <div class="kitchen">
        <ion-card>
          <img class="image" src="..\assets\images\sugar.jpg">
          <p align="center">Sugar & Salt</p>
        </ion-card>
        <ion-card>
          <img class="image" src="..\assets\images\dryfruit.jpg">
          <p align="center">Dryfruits & Nuts</p>
        </ion-card>
      
      </div>
      <div class="kitchen">
          <ion-card>
            <img class="image" src="..\assets\images\masale.jpg">
            <p align="center">Masalas & Spices</p>
          </ion-card>
          <!-- <ion-card>
            <img class="image" src="..\assets\images\dryfruit.jpg">
            <p align="center">Dryfruit, Nuts & Seeds</p>
          </ion-card> -->
        
        </div>
     
   </ion-content>
   
   