<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     <a routerLink="/home" routerDirection="root"><ion-icon name="home" class="hyperlink"></ion-icon>
      Grocero</a>
      <a routerLink="/login" routerDirection="backward"><ion-button color="primary" class="logout" size="small">Logout</ion-button></a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "image">
  <img src="assets\offer1.jpg" class="d-flex_justify-content-center">  
  </div>
  <img src="assets\offer2.jpg" class = "img-responsive">
  <ion-grid>
      <ion-row>
        <ion-col>
          <div> Category 1 </div>
        </ion-col>
        <ion-col>
          <div> Category 2 </div>
        </ion-col>
        <ion-col>
          <div> Category 3 </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div> Category 4 </div>
        </ion-col>
        <ion-col>
          <div> Category 5 </div>
        </ion-col>
        <ion-col>
          <div> Category 6 </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>
