<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     <a routerLink="/home" routerDirection="root"><ion-icon name="home" class="hyperlink"></ion-icon>
      Grocero</a>
     <a routerLink="/notification"> <ion-icon style="margin-left: 22px" name="notifications"></ion-icon>
     </a>
      <a routerLink="/login" routerDirection="backward"><ion-button color="primary" class="logout" size="small">Logout</ion-button></a>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-slides pager="true">
      <ion-slide>
        <img class="slide" src="..\assets\images\cleaning.jpg">
      </ion-slide>
      <ion-slide>
        <img class="slide" src="..\assets\images\maggi.jpg">
      </ion-slide>
      <ion-slide>
        <img class="slide" src="..\assets\images\mamypoko.jpg">
      </ion-slide>
     
    </ion-slides>
  <h1 class="headertext">Shop By Category</h1>
  
    <div  class="outerdiv">
<div class="categorytext">
  <a routerLink="/personal"> <img class="image"src="..\assets\images\personalcare.png">
    <p align="center">Personal Care</p>
  </a>
  </div>

  <div class="categorytext">
    <a routerLink="/household">  <img class="image" src="..\assets\images\household.png">
      <p align="center">Household Needs</p>
    </a>
  </div>
    <div class="categorytext">
       <a routerLink="/babycare"> <img class="image" src="..\assets\images\babycare.png">
        <p align="center">Baby Care</p>
      </a>
      </div>
   <div class="categorytext">
       <a routerLink="/snacks"> <img class="image" src="..\assets\images\beverages.png">
        <p align="center">Snacks & Beverages</p>
      </a>
    </div>
    <div class="categorytext">
       <a routerLink="/kitchen"> <img class="image" src="..\assets\images\kitchen.png">
        <p align="center">Kitchen</p>
      </a>
    </div>
    </div>
    
    <h1 class="headertext"> Shop by Brand</h1>
    <ion-card>
      <div class="perfumebrand">
      <ion-card>
        <img class="brand" src="..\assets\images\adidas.jpg">
        <p align="center">Adidas</p>
      </ion-card>
      <ion-card>
        <img class="brand" src="..\assets\images\eternity.jpg">
        <p align="center">Eternity</p>
      </ion-card>
     </div>
      <div class="perfumebrand">
      <ion-card>
        <img class="brand" src="..\assets\images\chanel.jpg">
        <p align="center">Chanel</p>
      </ion-card>
      <ion-card>
        <img class="brand" src="..\assets\images\park_avenue.jpg">
        <p align="center">Park Avenue</p>
      </ion-card>
     </div>
    </ion-card>
</ion-content>
<!-- <ion-content>
  <div class = "image">
  <img src="assets\offer1.jpg" class="d-flex_justify-content-center">  
  </div>
  <img src="assets\offer2.jpg" class = "img-responsive">
  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Staples</ion-card-subtitle>
              <ion-card-title>AASHIRVAAD Atta</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="i-card">
                <div class="img-card">
                  <img src="assets\atta.png" class="card">
                </div>
                <div class="text-card">
                  AASHIRVAAD 10kg Atta <br>
                  Price: ₹ 350 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                </div>
            </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Staples</ion-card-subtitle>
                <ion-card-title>India Gate Rice</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div class="i-card">
                  <div class="img-card">
                    <img src="assets\rice.png" class="card">
                  </div>
                  <div class="text-card">
                    India Gate 1kg Basmati <br>
                    Price: ₹ 122 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                  </div>
              </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Staples</ion-card-subtitle>
                  <ion-card-title>TATA Sampann Toor Dal</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div class="i-card">
                    <div class="img-card">
                      <img src="assets\toor dal.png" class="card">
                    </div>
                    <div class="text-card">
                      TATA Sampann 500g Toor <br>
                      Price: ₹ 69 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                    </div>
                </div>
                </ion-card-content>
              </ion-card>
            </ion-col>            
      </ion-row>

      <ion-row>   
          <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Household Needs</ion-card-subtitle>
                  <ion-card-title>Surf Excel Detergent</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div class="i-card">
                    <div class="img-card">
                      <img src="assets\detergent.png" class="card">
                    </div>
                    <div class="text-card">
                      Surf Excel 1.5kg Detergent <br>
                      Price: ₹ 174 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                    </div>
                </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Household Needs</ion-card-subtitle>
                    <ion-card-title>Vim Lemon Dishwash Gel</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <div class="i-card">
                      <div class="img-card">
                        <img src="assets\dishwash gel.png" class="card">
                      </div>
                      <div class="text-card">
                        Vim (Pack of 2) Gel 750ml <br>
                        Price: ₹ 310 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                      </div>
                  </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>Household Needs</ion-card-subtitle>
                      <ion-card-title>Lizol Floor Cleaner</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <div class="i-card">
                        <div class="img-card">
                          <img src="assets\floor cleaner.png" class="card">
                        </div>
                        <div class="text-card">
                          Lizol Floor Cleaner 2L <br>
                          Price: ₹ 344 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                        </div>
                    </div>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Personal Care</ion-card-subtitle>
                  <ion-card-title>Park Avenue Classic Deo</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div class="i-card">
                    <div class="img-card">
                      <img src="assets\deodorant.png" class="card">
                    </div>
                    <div class="text-card">
                      Park Avenue (Set of 3) <br>
                      Price: ₹ 398 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                    </div>
                </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Personal Care</ion-card-subtitle>
                    <ion-card-title>NIVEA Deep Impact Face Wash</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <div class="i-card">
                      <div class="img-card">
                        <img src="assets\face wash.png" class="card">
                      </div>
                      <div class="text-card">
                        NIVEA Deep Impact 100g <br>
                        Price: ₹ 199 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                      </div>
                  </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>Personal Care</ion-card-subtitle>
                      <ion-card-title>Cinthol Lime Soap</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <div class="i-card">
                        <div class="img-card">
                          <img src="assets\soap.png" class="card">
                        </div>
                        <div class="text-card">
                          Cinthol Lime (3 Soap) <br>
                          Price: ₹ 100 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                        </div>
                    </div>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Beverages</ion-card-subtitle>
                  <ion-card-title>Nescafé Classic Coffee</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div class="i-card">
                    <div class="img-card">
                      <img src="assets\coffee.png" class="card">
                    </div>
                    <div class="text-card">
                        Nescafé Classic 25g <br>
                      Price: ₹ 69 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                    </div>
                </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Beverages</ion-card-subtitle>
                    <ion-card-title>Mountain Dew</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <div class="i-card">
                      <div class="img-card">
                        <img src="assets\soft drink.png" class="card">
                      </div>
                      <div class="text-card">
                          Mountain Dew 250ml Can <br>
                        Price: ₹ 30 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                      </div>
                  </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>Beverages</ion-card-subtitle>
                      <ion-card-title>TATA TEA Premium</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <div class="i-card">
                        <div class="img-card">
                          <img src="assets\tea.png" class="card">
                        </div>
                        <div class="text-card">
                            TATA TEA Premium 500g <br>
                          Price: ₹ 184 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                        </div>
                    </div>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Biscuits, Snacks & Chocolates</ion-card-subtitle>
                  <ion-card-title>HIDE & SEEK Heart Beatz</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div class="i-card">
                    <div class="img-card">
                      <img src="assets\biscuit.png" class="card">
                    </div>
                    <div class="text-card">
                        HIDE & SEEK Heart Beatz <br>
                      Price: ₹ 300 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                    </div>
                </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Biscuits, Snacks & Chocolates</ion-card-subtitle>
                    <ion-card-title>Dairy Milk Chocolate</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <div class="i-card">
                      <div class="img-card">
                        <img src="assets\chocolate.png" class="card">
                      </div>
                      <div class="text-card">
                          Dairy Milk (Pack of 8) <br>
                        Price: ₹ 320 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                      </div>
                  </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>Biscuits, Snacks & Chocolates</ion-card-subtitle>
                      <ion-card-title>Doritos Spicy Sweet Chilli</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <div class="i-card">
                        <div class="img-card">
                          <img src="assets\nachos.png" class="card">
                        </div>
                        <div class="text-card">
                            Doritos Spicy Sweet Chilli <br>
                          Price: ₹ 50 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                        </div>
                    </div>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Noodles & Sauce</ion-card-subtitle>
                  <ion-card-title>Maggi Masala Instant Noodles</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div class="i-card">
                    <div class="img-card">
                      <img src="assets\maggi.png" class="card">
                    </div>
                    <div class="text-card">
                        Maggi Instant Noodles <br>
                      Price: ₹ 11 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                    </div>
                </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Noodles & Sauce</ion-card-subtitle>
                    <ion-card-title>Heinz Mayonnaise</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <div class="i-card">
                      <div class="img-card">
                        <img src="assets\sauce 2.png" class="card">
                      </div>
                      <div class="text-card">
                          Heinz Mayonnaise 54ml <br>
                        Price: ₹ 249 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                      </div>
                  </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>Noodles & Sauce</ion-card-subtitle>
                      <ion-card-title>Ching's Schezwan Chutney</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <div class="i-card">
                        <div class="img-card">
                          <img src="assets\sauce.png" class="card">
                        </div>
                        <div class="text-card">
                            Ching's Schezwan 250g <br>
                          Price: ₹ 70 <ion-button color="medium" style="margin-bottom:5px;"><ion-icon name="pricetag"></ion-icon> &nbsp; Buy Now</ion-button> <ion-button color="danger"> <ion-icon name="cart"></ion-icon> &nbsp; Add to Cart</ion-button>
                        </div>
                    </div>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
      </ion-row>
    </ion-grid>    
</ion-content> -->
