<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     <a routerLink="/home" routerDirection="root"><ion-icon name="home" class="hyperlink"></ion-icon>
      Grocero</a>
   
     
    </ion-title>
    <a routerLink="/setting">
    <div class= "setting">
      <ion-icon name="settings" md="md-settings" style=" width: 53%; height: 18px;"></ion-icon>
     </div>
    </a>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-slides pager="true">
      <ion-slide>
        <img class="slide" src="..\assets\images\cleaning.jpg">
      </ion-slide>
      <ion-slide>
        <img class="slide" src="..\assets\images\maggi.jpg">
      </ion-slide>
      <ion-slide>
        <img class="slide" src="..\assets\images\mamypoko.jpg">
      </ion-slide>
     
    </ion-slides>
  <h1 class="headertext">Shop By Category</h1>
  
    <div  class="outerdiv">
<div class="categorytext">
  <a routerLink="/personal"> <img class="image"src="..\assets\images\personalcare.png">
    <p align="center">Personal Care</p>
  </a>
  </div>

  <div class="categorytext">
    <a routerLink="/household">  <img class="image" src="..\assets\images\household.png">
      <p align="center">Household Needs</p>
    </a>
  </div>
    <div class="categorytext">
       <a routerLink="/babycare"> <img class="image" src="..\assets\images\babycare.png">
        <p align="center">Baby Care</p>
      </a>
      </div>
   <div class="categorytext">
       <a routerLink="/snacks"> <img class="image" src="..\assets\images\beverages.png">
        <p align="center">Snacks & Beverages</p>
      </a>
    </div>
    <div class="categorytext">
       <a routerLink="/kitchen"> <img class="image" src="..\assets\images\kitchen.png">
        <p align="center">Kitchen</p>
      </a>
    </div>
    </div>
    
    <h1 class="headertext"> Shop by Brand</h1>
    <ion-card>
      <div class="perfumebrand">
      <ion-card>
        <img class="brand" src="..\assets\images\adidas.jpg">
        <p align="center">Adidas</p>
      </ion-card>
      <ion-card>
        <img class="brand" src="..\assets\images\eternity.jpg">
        <p align="center">Eternity</p>
      </ion-card>
     </div>
      <div class="perfumebrand">
      <ion-card>
        <img class="brand" src="..\assets\images\chanel.jpg">
        <p align="center">Chanel</p>
      </ion-card>
      <ion-card>
        <img class="brand" src="..\assets\images\park_avenue.jpg">
        <p align="center">Park Avenue</p>
      </ion-card>
     </div>
    </ion-card>
</ion-content>

