<ion-header>

  <!-- <ion-buttons left>
      <button ion-button icon-only  (click)="login" >
          <ion-icon name="arrow-back"></ion-icon>
      </button>
  </ion-buttons> -->

</ion-header>
<ion-content  >
<div class="logo1">
  <img  class="logoimg" src=".\assets\images\grocero.png">
</div>


  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Name" [(ngModel)]="user.name" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="user.email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="user.password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="number" type="number" placeholder="Mobile Number" [(ngModel)]="user.number" required></ion-input>
            </ion-item>
          </div>
          <div padding>
           <a routerLink ="/login"> <ion-button  size="small" type="submit"  expand="block"  (click)="register()">Register</ion-button></a>
          </div>
        </ion-col>  
       </ion-row>
   </ion-grid> 
   </form>
</ion-content>


